<?xml version="1.0" encoding="UTF-8" ?>
 <ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:b="http://butterfaces.org/components"
  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
  xmlns:jsf="http://xmlns.jcp.org/jsf"
  template="layout.xhtml">	
	<f:metadata>
	 <f:viewParam name="matricula" value="#{alunoController.matricula}" />
	 <f:viewAction action="#{alunoController.carregar}" />
	</f:metadata>
	<ui:define name="conteudo">
		<h1>#{alunoController.titulo}</h1>
		
		<h:panelGroup layout="block" rendered="#{alunoController.renderizaPainelMensagem}">
			<div id="infoMessage">
				<h:messages />
			</div>
		</h:panelGroup>
		
		<br />
		
		<form jsf:id="cadastroAlunoForm" autocomplete="off" novalidate="novalidate">
			<input type="hidden" jsf:value="#{alunoController.aluno.matricula}" />
			<fieldset>
				<legend>Dados Pessoais</legend>
				
				<label for="nome">Nome</label><br />
				<input type="text" id="nome" jsf:value="#{alunoController.aluno.nome}" maxlength="64" jsf:label="Nome">
				   <f:validateRequired />
				  <f:validateLength minimum="2" maximum="64" />
				</input><br />
				
				<label for="sexo">Sexo</label><br />
				<select id="sexo" jsf:value="#{alunoController.aluno.sexo}" size="0" jsf:label="Sexo">
					<f:selectItem itemLabel="Escolha..." noSelectionOption="true" />
					<f:selectItems value="#{dataController.sexos}" />
					<f:validateRequired />
				</select><br />
				
				<label for="rg">RG</label><br />
				<input type="text" id="rg" jsf:value="#{alunoController.aluno.rg}" maxlength="10" jsf:label="RG">
				  <f:validateRequired />
				  <f:validateLongRange minimum="10000000" maximum="9999999999" />
				</input><br />
				
				<label for="dataDeNascimento">Data de Nascimento</label><br />
				<input type="date" id="dataDeNascimento" jsf:value="#{alunoController.aluno.dataNascimento}" jsf:label="Data de Nascimento">
				  <f:convertDateTime type="localDate" pattern="yyyy-MM-dd" />
				  <f:validateRequired />
				</input>
			</fieldset>
			
			<br />
			
			<fieldset>
				<legend>Situação</legend>
				<label for="situacao">Situação</label><br />
				<select name="situacao" id="situacao" size="0" jsf:value="#{alunoController.aluno.situacao}" jsf:label="Situação">
					<f:selectItem itemLabel="Escolha..." noSelectionOption="true" />
					<f:selectItems  value="#{dataController.situacoes}" />
					<f:validateRequired />
				</select><br />
			</fieldset>
			
			<br />
			
			<fieldset>
				<legend>Endereço</legend>
				
				<label for="rua">Rua</label><br />
				<input type="text" id="rua" jsf:value="#{alunoController.aluno.endereco.rua}" maxlength="128" jsf:label="Rua">
				  <f:validateLength maximum="128" />
				</input><br />
				
				<label for="">Número</label><br />
				<input type="text" id="numero" jsf:value="#{alunoController.aluno.endereco.numero}" maxlength="6" jsf:label="Número">
				  <f:validateLongRange maximum="999999" />
				</input><br />
				
				<label for="complemento">Complemento</label><br />
				<input type="text" id="complemento" jsf:value="#{alunoController.aluno.endereco.complemento}" maxlength="32" jsf:label="Complemento">
				  <f:validateLength maximum="32" />
				</input><br />
				
				<label for="cidade">Cidade</label><br />
				<input type="text" id="cidade" jsf:value="#{alunoController.aluno.endereco.cidade}" maxlength="64" jsf:label="Cidade">
				  <f:validateRequired />
				  <f:validateLength minimum="2" maximum="64" />
				</input><br />
				
				<label for="estado">Estado</label><br />
				<select id="estado" jsf:value="#{alunoController.aluno.endereco.estado.sigla}" size="0" jsf:label="Estado">
					<f:selectItem itemLabel="Escolha..." noSelectionOption="true" />
					<f:selectItems value="#{dataController.estados}" var="estado" itemLabel="#{estado.nome}" itemValue="#{estado.sigla}" />
					<f:validateRequired />
				</select><br />
				
				<label for="cep">CEP</label><br />
				<input type="text" id="cep" jsf:value="#{alunoController.aluno.endereco.cep}" maxlength="8" jsf:label="CEP">
				  <f:validateLength maximum="8" />
				</input>
			</fieldset>
			
			<br />
			
			<fieldset>
				<legend>Contato</legend>
				<label for="email">E-mail</label><br />
				<input type="email" id="email" jsf:value="#{alunoController.aluno.email}" maxlength="64" jsf:label="E-mail">
				  <f:validateRequired />
				  <f:validateLength maximum="64" />
				  <f:validateRegex pattern=".+@.+" />
				</input><br />
				
				<label for="telefoneCelularDDD">Telefone Celular</label><br />
				<input type="tel" id="telefoneCelularDDD" jsf:value="#{alunoController.aluno.telefone.dddCelular}" maxlength="2" jsf:label="DDD Celular">
				  <f:validateRequired />
				  <f:validateLength minimum="2" maximum="2" />
				</input>&#160;
				<input type="tel" id="telefoneCelularNumero" jsf:value="#{alunoController.aluno.telefone.numeroCelular}" maxlength="9" jsf:label="Telefone Celular">
          <f:validateRequired />
				  <f:validateLength minimum="8" maximum="9" />
				</input><br />
				
				<label for="telefoneFixoDDD">Telefone Fixo</label><br />
				<input type="tel" id="telefoneFixoDDD" jsf:value="#{alunoController.aluno.telefone.dddFixo}" maxlength="2" jsf:label="DDD Fixo">
          <f:validateLength maximum="2" />
				</input>&#160;
				<input type="tel" id="telefoneFixoNumero" jsf:value="#{alunoController.aluno.telefone.numeroFixo}" maxlength="9" jsf:label="Telefone Fixo">
				  <f:validateLength maximum="9" />
				</input>
			</fieldset>
			
			<br />
			
			<input type="submit" value="Gravar" jsf:action="#{alunoController.gravar}" />
			<input type="button" value="Relatório de Acessos" />		
		</form>
	</ui:define>
</ui:composition>
