<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="pt-br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:b="http://butterfaces.org/components"
  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
  xmlns:jsf="http://xmlns.jcp.org/jsf">
<head jsf:id="head">
  <meta charset="utf-8" />
  <title>Loucademia</title>

  <link rel="stylesheet" href="css/Loucademia_Estilo.css" />
</head>
<body jsf:id="body">
	<header>
		<img src="images/Loucademia_Logotipo.png" />
		<nav>
			<a jsf:outcome="dados_aluno">Novo aluno</a><br />
			<a jsf:outcome="pesquisa_aluno">Pesquisa de aluno</a><br />
			<a jsf:outcome="controle_acesso">Controle de acesso</a><br />
			<a jsf:outcome="relatorios_entrada_saida">Relatórios de entra e saída</a><br />
			<a jsf:outcome="relatorio_situacoes">Relatório de Situações</a><br />
		</nav>
	</header>
	
	<ui:insert name="conteudo" />
</body>
</html>